*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  color: ivory;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 2vw 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  font-size: 20px; }

.heading-4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }

.sidebar {
  background-color: dimgray;
  grid-column: full-start / full-end; }

.header {
  background-color: darkgoldenrod;
  grid-column: full-start / full-end; }

.features {
  background-color: lightcyan;
  grid-column: center-start / center-end;
  color: black;
  margin: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem; }

.story {
  grid-column: full-star / full-end; }
  .story__pictures {
    background-color: forestgreen;
    grid-column: full-start / col-end 5; }
  .story__content {
    background-color: goldenrod;
    grid-column: col-start 6/ full-end; }

.homes {
  background-color: darksalmon;
  grid-column: center-start / center-end; }

.gallery {
  background-color: cornflowerblue;
  grid-column: full-start / full-end; }

.footer {
  background-color: brown;
  grid-column: full-start / full-end; }
