%heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}



.heading-1{

}

.heading-2{
    
}

.heading-3{
    
}

.heading-4{
   @extend %heading;
   font-size: 1.9rem;
}